
.navbar-brand {
	color: black !important;
}

.nav-link:not(:hover) {
	color: #6C7A89;
}

.nav-link:hover {
	color: black;
}

.carouselControl {
	color: #1e3269 !important;
}

a:hover {
	text-decoration: none;
}

.container {
	padding-top: 10px;
}
html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
	background-color: #E0E7E9;
	padding-top: 75px;
	min-height:100%;
}

.jumbotron {
	background-color: white !important;
}

#nav {
	background-color: #A3C6C4 !important;
	opacity: 0.94;
}

table {
	background-color: white !important;
}